<!DOCTYPE html>
<html>
<head>
    <title>Classify</title>
    <link rel="preload" as="style" href="style_in.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loggedIn.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">  
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signup">
        <form class="login-form" action="/login" method="POST">
            <label for="chk" aria-hidden="true">Logged in!</label>
            <input type="text" name="txt" placeholder="User name" required="">
            <input type="password" name="pswd" placeholder="Password" required="">
            <select name="userType" required>
                <option value="pengguna">User</option>
                <option value="administrator">Administrator</option>
            </select>
            <button type="submit">Masuk</button>
        </form>
    </div>
    
    <div class="welcome">
        <form>
            <label style="text-align: center; margin-bottom: 10px;" for="chk" aria-hidden="true">Welcome Admin {{ name }}!</label>
            <a href="lamp" class="menu-button">Control Lampu 💡</a>
            <a href="ac" class="menu-button">Control AC ❄️</a>
            <a href="register" class="menu-button">Register User Baru</a>
        </form>
    </div>
</div>
</body>
</html>
