<!DOCTYPE html>
<html>
<head>
    <title>Classify</title>
    <link rel="preload" as="style" href="style_in.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loggedOut.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">  
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signup">
        <form class="login-form" action="/register" method="POST">
            <label for="chk" aria-hidden="true">Register User</label>
            <p style="text-align: center; color: white; margin-bottom: 20px;">{{ success_message }}</p>
            <input type="text" name="txt" placeholder="User name" required="">
            <input type="password" name="pswd" placeholder="Password" required="">
            <select name="userType" required>
                <option value="user">User</option>
                <option value="admin">Administrator</option>
            </select>
            <button type="submit">Submit</button>
            <p style="text-align: center; color: white; ">Sudah punya akun? <a style="color: #6873e3;" href="/login">Login disini</a></p>
        </form>
    </div>

    <div class="welcome">
        <form>
            <label for="chk" aria-hidden="true">Welcome</label>
            <a href="" class="menu-button">Control Lampu 💡</a>
            <a href="" class="menu-button">Control AC ❄️</a>
        </form>
    </div>
</div>
</body>
</html>
