<!DOCTYPE html>
<html>
<head>
    <title>Classify</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loggedOut.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <meta name="view-transition"    content="same-origin"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
</head>
<body>
<div class="main">  
    <a href="#" class="back-button" id="backButton">&larr; Back</a>

    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signup">
        <form class="login-form" action="/register" method="POST">
            <label for="chk" aria-hidden="true">Register User</label>
            <p style="text-align: center; color: white; margin-bottom: 20px;">{{ success_message }}</p>
            <input type="text" name="txt" placeholder="User name" required="">
            <input type="password" name="pswd" placeholder="Password" required="">
            <select name="userType" required>
                <option value="user">User</option>
                <option value="admin">Administrator</option>
            </select>
            <button type="submit">Submit</button>
            <p style="text-align: center; color: white; ">Already have an account? <a style="color: #6873e3;" href="/login">Login here</a></p>
        </form>
    </div>

    <div class="welcome">
        <form>
            <label for="chk" aria-hidden="true">Welcome</label>
            <a href="" class="menu-button">Control Lampu 💡</a>
            <a href="" class="menu-button">Control AC ❄️</a>
        </form>
    </div>
</div>
</body>


<script>
    // Add this script to handle the back button click
document.getElementById('backButton').addEventListener('click', function(event) {
    event.preventDefault();
    history.back(); // Go back to the previous page in the browser history
});

</script>
</html>
